// 覆盖 vant 样式
.van-nav-bar {
  background-color: #f7f8fa;
  .van-nav-bar__right {
    .van-badge__wrapper:not(:last-child) {
      margin-right: 8px;
    }
  }
}
.van-hairline--bottom::after {
  // border-bottom-color: rgba(204, 204, 204, 0.5);
}
.nav-container {
  padding-top: var(--van-nav-bar-height);
  height: 100%;
}


// 定义公共样式
.h-50 {
  height: 50%;
}
.h-100 {
  height: 100%;
}