// 覆盖 vant 样式
.van-nav-bar {
  background-color: #f7f8fa;
  .van-nav-bar__right {
    .van-badge__wrapper:not(:last-child) {
      margin-right: 8px;
    }
  }
}
::v-deep(.we-cell) {
  .van-cell-group:not(:first-child) {
    margin-top: 8px;
  }
}

.nav-container {
  padding-top: var(--van-nav-bar-height);
  height: 100%;
}


// 定义公共样式
.h-50 {
  height: 50%;
}
.h-100 {
  height: 100%;
}